.UserForm-submit {
    background: #2A74F1;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 17px !important;
    text-align: center;
    color: #FFFFFF;
    width: 95px;
}