.left-side-bar {
  background-color: #515967;
  height: 100%;
}

.w-20 {
  width: 20% !important;
}

.w-80 {
  width: 80% !important;
}

ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: #000000 !important;
  text-decoration: none !important;
}

body {
  color: $main-color !important;
  font-family: $main-font !important;
}

.right-section-wrapper {
  background-color: $right-section-bg;
  padding: 0.5rem 1rem;
}

.routes-container {
  margin: 2rem 2.25rem 0;
}

.page-wrapper {
  padding: 1.5rem;
  background-color: $bg-white;
}
